.backdrop{
  position: fixed;
  z-index:1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 9px 0px rgba(0, 0, 0, 0.21);
  width: 481px;
  height: 161px;
  padding: 15px;
  position: absolute;
  z-index: 2;
  &__body{
    display: flex;
    flex-direction: column;
    &__row{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__name{
      font-size: 48px;
      letter-spacing: inherit;
      max-width: 250px;
      width: 250px;
      overflow: hidden;
      height: 60px;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 20px 0;
    }
    &__status{
      margin-left: auto;

    }
  }
  &__footer{
    text-align: right;
  }
}