.arrows{
  display: flex;
  flex-direction: column;
  width: 16px;
  height: 20px;
  justify-content:  space-between;
  &__item{
    background-size: 16px 8px;
    width: 16px;
    height: 8px;
    background-image: url("./assets/img/down-black.png");
    &:hover{
      cursor: pointer;
    }
    &.active{
      background-image: url("./assets/img/down-white.png");
    }
  }
  &__down{

  }
  &__up{
    transform: rotate(180deg);
  }
}